
.eventTitle{
  text-align:center;
  font-family:Raleway;
  padding-top:40px;
  background-color:#00f6ff;
  padding-bottom:40px;
  background-image:url("https://www.xmple.com/wallpaper/striped-blue-checker-white-gingham-1920x1080-c2-add8e6-ffffff-l-118-a-315-f-12.svg");
}
