
.eventTitle{
  text-align:center;
  font-family:Raleway;
  padding-top:40px;
  font-weight:lighter;
  padding-bottom:40px;
  background-image:url("https://www.xmple.com/wallpaper/striped-blue-checker-white-gingham-1920x1080-c2-add8e6-ffffff-l-118-a-315-f-12.svg");
}
.image1{
  float:right;
  position:relative;
  margin-right:40px;
  margin-top: 40px;
  margin-bottom:60px;
  height:500px;
  width:375px;
}
.p1{
  float:left;
  margin-left:10px;
  margin-top:40px;
  margin-bottom:60px;
  font-size:23px;
}
.button1{
  text-align:center;
  margin-top:20px;
}
.p2{
  text-align:center;
  margin-top:30px;
}
body{
  background-color:#F0FFFF;

}
