.contactTitle{
  padding:20px;
  padding-left:75px;
  padding-top:40px;
  background-image: url("https://www.xmple.com/wallpaper/striped-blue-checker-white-gingham-1920x1080-c2-add8e6-ffffff-l-118-a-315-f-12.svg");
  font-family:serif;
  text-align:center

}
.columns{
  position:relative;
  text-align:center;
  padding-top:40px;
}
.titleForContacts{
  position:relative;
  text-align:right;
  background-color:#41454c;
  text-align:center;
  margin-top:40px;
  margin-right:400px;
  margin-left:400px;
  color:white;
  margin-bottom:0px;

}
body{
  background-image:url("https://wallpapermemory.com/uploads/788/cake-background-laptop-244562.jpg");
  background-size:100%;
  background-repeat: no-repeat;
}
.contacts{
  position:relative;
  text-align:left;
  background-color:#41454c;
  text-align:center;
  margin-right:400px;
  margin-left:400px;
  color:white;
  margin-bottom:0px;
}
.email{
  position:relative;
  text-align:right;
  background-color:#41454c;
  text-align:center;
  margin-right:400px;
  margin-left:400px;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
}
.textOrCall{
  position:relative;
  text-align:right;
  background-color:#41454c;
  text-align:center;
  margin-right:400px;
  margin-left:400px;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
}
.br1{
  margin-right:400px;
  margin-left:400px;
  background-color:#41454c;
}
.homeButton{
  background-color:#f7f9fc;
}
.images1{
  text-align:right;
  margin-top:200px;
  margin-right:40px;
  background-size:100%;
  background-repeat: no-repeat;
}
