.contactTitle{
  padding:20px;
  padding-left:75px;
  padding-top:40px;
  background-image: url("https://www.xmple.com/wallpaper/striped-blue-checker-white-gingham-1920x1080-c2-add8e6-ffffff-l-118-a-315-f-12.svg");
  font-family:serif;
  text-align:center

}
