.title{
  padding:20px;
  padding-left:75px;
  padding-top:20px;
  background-color:pink;
}
.title2{
  padding-left:100px;
  background-color:pink;
  padding-bottom:30px;
  font-family:monospace;
}
.container {
    position: relative;
    margin-left:0;
    margin-right:0;
}
 body{
   background-image:url("file:///Users/taylor/Desktop/Screen%20Shot%202018-08-13%20at%2011.44.23%20AM.png");
 }

.homepage{
  position:relative;
  text-align:right;
  text-align:center;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:60px;
  padding-bottom:10px; !important
}
.aboutUs{
  margin-bottom:0px;
  position:relative;
  float:right;
  padding-right:270px;
  padding-left:530px;
  padding-top:40px;
  background:black;
  padding-bottom:75px;
  color:white
}
.img1{
  display:block;
  margin:0 auto;
}

.homepage2{
  margin-top:0px;
  text-align:center;
  color:black;
  margin-bottom:10px;
}
.background1{
    background-image:url("https://image.freepik.com/free-vector/dripping-blue-paint-on-a-white-wood-background_1048-6143.jpg");
    background-size:100%;
    background-repeat: no-repeat;
}
.homeButton{
  background-color:#f7f9fc;
}
.callUs{
  background-image:url("https://image.freepik.com/fotos-gratis/cupcake-de-aniversario-com-coracao-doce-forma-de-marshmallow-contra-fundo-azul_7186-300.jpg");
}
.callText{
  margin-bottom:100px;
  margin-top:100px;
  font-size:px;
  color:black;
  margin-left:75px;
}
.multiPhoto{
  margin-top:40px;
  float:left;
  display:block;
  margin-right:0px;
  margin-left:40px;
}

.multiPhoto1{
  float:right;
  margin-top:40px;
  margin-left:0px;
  margin-right:40px;
}

.photosBack{
  background-image:url("file:///Users/taylor/Desktop/Screen%20Shot%202018-08-13%20at%2011.44.23%20AM.png");
}

.MireyaImage{
  text-align:center;
  margin-top:30px;
  margin-bottom:50px;
}

.MireyaImage2{
  margin-top:30px;
  margin-bottom:50px;
  text-align:center;
}
.bottomImage{
  bottom:0px;
}
.imgBack{
  background-image:url("file:///Users/taylor/Desktop/000.png");
  background-size:100%;
  background-repeat: no-repeat;
}
.navbar-brand{
  font-weight:light;
  font-family:Raleway;
}
.nav-item{
  font-weight:light;
  font-family:Raleway;

}
